/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.3;
}

h1,
h2,
h3 {
    margin-top: 0;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

img {
    display: block;
    width: 100%;
}

/* ---------------------- */

header,
.row-1,
.row-2 {
    border-bottom: 3px solid black;
}

.row-1,
.row-2 {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

article {
    padding: 10px;
}

/* Section 1 */
.row-1 {
    display: flex;
    align-items: flex-start;
}

.row-1 article:nth-child(1) {
    flex-basis: 25%;
}

.row-1 article:nth-child(2) {
    flex-basis: 50%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.row-1 article:nth-child(3) {
    flex-basis: 25%;
}

/* Section 2 */
.row-2 {
    display: flex;
}

.row-2 article:nth-child(1) {
    width: 25%;
    border-right: 1px solid black;
}

.row-2 article:nth-child(2) {
    flex-grow: 1;
}

.nav {
    height: 100%;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-item {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.list-item:nth-child(even) {
    background-color: aqua;
}

.list-item:nth-child(odd) {
    background-color: goldenrod;
}

.item-link {
    text-decoration: none;
    color: inherit;
}