* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
}

input {
    background-color: black;
    color: white;
}

button {
    border-style: solid;
    border-color: black;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

main {
    width: 500px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

main input {
    flex-basis: 100%;
}

main button {
    flex-basis: 25%;
}

main button:nth-child(2) {
    flex-basis: 50%;
}

main button:nth-child(17) {
    flex-basis: 75%;
}

main button:nth-child(4),
main button:nth-child(8),
main button:nth-child(12),
main button:nth-child(16),
main button:nth-child(18) {
    background-color: goldenrod;
}

main button:nth-child(4):hover,
main button:nth-child(8):hover,
main button:nth-child(12):hover,
main button:nth-child(16):hover,
main button:nth-child(18):hover {
    background-color: gold;
}